<h1><a [routerLink]="'/'">Планирование транспортных маршрутов</a></h1>
<h2>
  <a [routerLink]="'/'"><i class="material-icons">map</i></a>
  <a [routerLink]="'/auto'"><i class="material-icons">local_shipping</i></a>
  <a [routerLink]="'/place'"><i class="material-icons">place</i></a>
  <a [routerLink]="'/goods'"><i class="material-icons">work</i></a>
  <a [routerLink]="'/drivers'"><i class="material-icons">people</i></a>
  <a [routerLink]="'/list'"><i class="material-icons">list_alt</i></a>
</h2>
<router-outlet></router-outlet>
